/*

NOTA: El margin del body por defecto es 8
body{
    margin: 0;
}

validador de CSS = https://jonassebastianohlsson.com/specificity-graph/

                SINTAXIS

body -> selecto - apunta al elemento HTML al que desea aplicar estilo.
{ 

| Cada declaración incluye un nombre de propiedad CSS y un valor, separados por dos puntos. |

----------------------
|propiedad | | valor |
----------------------
| color:   | |  red; |
----------------------
|text-align: |center;|
----------------------

} -> El bloque de declaración contiene una o más declaraciones separadas por punto y coma.

///////////////////////////////////////////////////////////////////////////////////////////////////////
                SELECTOR DE IDENTIFICACIÓN

1. La siguiente regla CSS se aplicará al elemento HTML con id="para1": 

#para1 {   -> corresponde a un id que se utiliza una sola vez
  text-align: center;
  color: red;
}


2. La siguiente regla CSS se aplicará al elemento HTML con class="center" 

.para1{  -> corresponde a una class y se utiliza varias veces
  text-align: center;
  color: red;
}

3. Especificacion de una clase para que solo deba afectar a elementos HTML específicos.
--------------------
ESTRUCTURA

etiqueta.class{
}
--------------------
 
  p.center { ->  En este ejemplo, solo los elementos <p> con class="center" serán rojos y estarán alineados al centro: 
    text-align: center;
    color: red;
  }
--------------------
  [href] 
      {
      
      }

   [href="valor"] se especifica 
      {
      
      }

    [href^="valor"] todo aquel que empiece por "valor"
          {
          
          }

    [href*="valor"] todo aquel que contiene la palabra con "valor"
          {
          
          }

      [href$="valor"] todo aquel que termine con la palabra "valor"
          {
          
          }

      [lang|= "en-GB"] todo aquel que termine con la palabra "valor"
          {
          
          }

  
NOTA: Los elementos HTML también pueden hacer referencia a más de una clase.

el estilo del elemento <p> se ajustará a class="center" y class="large": 

<p class="center large">This paragraph refers to two classes.</p>

4. SELECTOR UNIVERSARL

* { -> La siguiente regla CSS afectará a todos los elementos HTML de la página:
  text-align: center;
  color: blue;
}

5. SELECTOR DE AGRUPACIÓN 
--------------------
ESTRUCTURA

etiqueta, etiqueta,... {
}
--------------------
h1, h2, p {  -> Para agrupar selectores, separe cada selector con una coma.
  text-align: center;
  color: red;
}

6. SELECTOR DE HERMANOS SIGUIENTES
--------------------

.text-2 + h2 {  | selecciona al hermano siguiente

}

.text-2 ~ p {  | selecciona todos los hermanos siguientes que sean p

}

6. SELECTOR DE HIJOS DIRECTOS
--------------------

.text-2 > p {  | selecciona todos los hijos directos de la etiqueta 

}
/*

///////////////////////////////////////////////////////////////////////////////////////////////////////

ORDEN DE JERARQUIA Y FUNCION DE LA ESPECIFICIDAD

Especificad de un selector
--------------------

    Etiquetas y pseudoelementos = 001
    Clases, atributos y pseudoclases = 010
    Id's = 100
    Estilos en linea = 1000
    !important = GANA A TODO


h1 .title #title {  -> 1 , 1, 1 | la suma de estas es la que tiene mayor importancia

}



Nota: el grafico no debe tener altos picos dado que eso nos indica que no es bueno. para identificar que sea bueno el codigo css o no, debe ser una linea estable sin ningun pico

CASCADA de un selector
--------------------

La cascada funciona siempre y cuando la especificidad de un elemento este en el mismo valor igual a la especificidad

///////////////////////////////////////////////////////////////////////////////////////////////////////

HERENCIA


///////////////////////////////////////////////////////////////////////////////////////////////////////


1. background-color:
                    background-color:hsl(9, 100%, 64%); | hsl(hue [from 0 to 360], saturation [0%-100%], lightness[0%-100%]) 
                       saturation - La saturación se puede describir como la intensidad de un color. 100% es color puro, sin matices de grises.
                       Lightness - La luminosidad de un color se puede describir como cuánta luz quieres darle al color, donde 0% significa sin luz (negro), 50% significa 50% de luz (ni oscuro ni claro) y 100% significa luminosidad total (blanco)
                    background-color:hsla(9, 100%, 64%, 0.5);
                    background-color:#ff6347;
                    background-color:rgb(255, 99, 71);  | rgb(255, 255, 255).
                    background-color:rgba(255, 99, 71, 0.5); | rgba(red, green, blue, alpha o opacidad rango [0-1]) 
2. background-image: 
      body, p {
              background-image: url("paper.gif");
              background-repeat: repeat-x; | Si la imagen de arriba se repite solo horizontalmente
              background-repeat: no-repeat; | La propiedad también especifica mostrar la imagen de fondo solo una vez
              background-position: right top; | propiedad se utiliza para especificar la posición de la imagen de fondo.
              background-attachment: fixed; | propiedad especifica si la imagen de fondo debe ser fija
              background-attachment: scroll; | propiedad especifica si la imagen de fondo debe desplazarce 
      }

PROPIEDAD ABREVIADA 
body {
  background-color: #ffffff; | Propiedad que especifica el color del background
  background-image: url("img_tree.png"); | Propiedad que especifica que debe ponerse una imagen de fondo
  background-repeat: no-repeat;  | propiedad que especifica si debe repetirse la imagen o no
  background-attachment: scroll; | propiedad especifica si la imagen de fondo debe desplazarce 
  background-position: right top;
  background-clip:   | Propiedad que especifica hasta qué punto debe extenderse el fondo dentro de un elemento
       background-clip:border-box; | especifica que se extienda hasta el limite del borde del elemento
       background-clip: padding-box; | especifica que se extienda hasta el limite del padding
       background-clip: content-box; | especifica que se extienda hasta el limite del context
}

a

body {
  background: #ffffff url("img_tree.png") no-repeat right top;
}
NOTA: Cuando se utiliza la propiedad abreviada, el orden de los valores de las propiedades es:
background-color
background-image
background-repeat
background-attachment
background-position
/////////////////////////////////////////////////////////////////////////////////////////////////////
3. opacity:

    div {
          background-color: green;
          opacity: 0.3; | value from 0.0 - 1.0
        }  
4. color:

    div {
        color:inherit; |fuerza la herencia
        color:initial;
    }

5. Margin: Se desplaza mas el contenido no se extiende se conserva

    -> Se aplica a los elementos en  bloque
    div {
        margin-top: margen superior
        margin-right: margen derecho
        margin-bottom: margen inferior
        margin-left: margen izquierdo | 
            auto: pega el elemento a la derecha

            NOTA: debemos darle un ancho y alto declarado .

        4 valores -> margin: top left right bottom
        3 valores -> margin: top left/right bottom
        2 valores -> margin: top/right bottom/left
        1 valor -> margin: top/right/bottom/left
    }

6. Padding | Permite generar espacio interno entre el borde y la caja | el contenido crece segun la direccion y el valor dado

    -> Se aplica a los elementos en linea y bloque

    div {
        padding-top: padding superior
        padding-right: padding derecho
        padding-bottom: padding inferior
        padding-left: padding izquierdo | 
            auto: pega el elemento a la derecha

            NOTA: debemos darle un ancho y alto declarado .

        4 valores -> padding: top left right bottom
        3 valores -> padding: top left/right bottom
        2 valores -> padding: top/right bottom/left
        1 valor -> padding: top/right/bottom/left
    }


*/





*/

