body {
    background-color: #000;
    margin: 0;
    padding: 0;
    height: 100vh; /* Asegura que el cuerpo ocupe toda la altura de la ventana */
    display: flex;
    align-items: center; /* Centra verticalmente los elementos en el cuerpo */
    justify-content: right; /* Centra horizontalmente los elementos en el cuerpo */
}

.flores {
    height: 200px;
    width: 200px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #000; /* Fondo negro para toda la página */
    /* Agrega una animación de pulsación */
    animation: pulsate 2s infinite;
}
  
.texto-para,
.texto-dedicatoria {
      top: 90%;
      position: absolute;
      text-align: center;
      color: #fff; /* Color del texto */
      font-size: 20px; /* Tamaño del texto */
}

.texto-dedicatoria video{
  text-align: center;
  height: 200px;
  width: 500px;
}
  
.texto-para {
      top: -60px; /* Ajusta la posición vertical del texto arriba de la flor */
  }
  
.texto-dedicatoria {
      bottom: -60px; /* Ajusta la posición vertical del texto debajo de la flor */
  }

  @keyframes pulsate 
  {
    0% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(1.6);
    }
    100% {
        transform: scale(1.5);
    }
  }

.semillas {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: radial-gradient(circle, #000, #ff5e00, #000);
      z-index: 4;
      background-size: 5px 5px;
      filter: drop-shadow(0 0 8px #682600);
}

/*aqui va la configuracion de los petalos*/
    .Petalo-1 {
      position: absolute;
      left: 40px;
      z-index: 3;
      width: 120px;
      height: 30px;
      border-radius: 50%;
      background: radial-gradient(circle, #ff5e00, #ffbb00);
      filter: drop-shadow(0 0 5px #e05200);
    }
    
    .Petalo-1.p1 {
      transform: rotate(22.5deg);
    }
    .Petalo-1.p2 {
      transform: rotate(67.5deg);
    }
    .Petalo-1.p3 {
      transform: rotate(110.5deg);
    }
    .Petalo-1.p4 {
      transform: rotate(157.5deg);
    }
    
    .Petalo-2 {
      position: absolute;
      left: 0;
      z-index: 2;
      width: 200px;
      height: 40px;
      border-radius: 50%;
      background: radial-gradient(circle, #ff5e00, #fbd702);
      filter: drop-shadow(0 0 5px #e05200);
    }

    .Petalo-2.p2 {
      transform: rotate(90deg);
    }
    .Petalo-2.p3 {
      transform: rotate(45deg);
    }
    
    .Petalo-2.p4 {
      transform: rotate(135deg);
    }
    
    .Petalo-3 {
      position: absolute;
      left: 0px;
      z-index: 1;
      width: 200px;
      height: 40px;
      border-radius: 50%;
      background: radial-gradient(circle, #ff5e00, #fbd702);
      filter: drop-shadow(0 0 2px #fbd702);
    }
    
    .Petalo-3.p1 {
      transform: rotate(22.5deg);
    }
    .Petalo-3.p2 {
      transform: rotate(67.5deg);
    }
    .Petalo-3.p3 {
      transform: rotate(110.5deg);
    }
    .Petalo-3.p4 {
      transform: rotate(157.5deg);
    }

    /*Esta es la parte del corazon-1*/

    .heart{
      --size: 30px;
      --color: red;
      transform:rotate(45deg);
      animation:beat 1s infinite alternate ease-in-out;
    }
    @keyframes beat{
      to{
        transform: rotate(45deg) scale(1.05);
      }
    }
  
    .corazon-1 {
      width: 50px;
      height: 50px;
      transform: rotate(45deg);
      background: red;
      position: relative;
      top: 0em;
      right: 15em;
      bottom: 5em;
      animation: beating 2s ease infinite;
    }

    .corazon-1:before,
    .corazon-1:after {
      content: "";
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background: red;
      position: absolute
    }

    .corazon-1:before {
      top: 0;
      left: -25px;
    }
    
    .corazon-1:after {
      top: -25px;
    }

    
    @keyframes beating {
      0% {
        transform: rotate(45deg) scale(1);
      }
      50% {
        transform: rotate(45deg) scale(2);
      }
      100% {
        transform: rotate(45deg) scale(1);
      }
    }

    .corazon-2 {
      width: 50px;
      height: 50px;
      transform: rotate(45deg);
      background: red;
      position: relative;
      top: 0em;
      left: 15em;
      bottom: 5em;
      animation: beating 2s ease infinite;
    }

    .corazon-2:before,
    .corazon-2:after {
      content: "";
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background: red;
      position: absolute
    }

    .corazon-2:before {
      top: 0;
      left: -25px;
    }
    
    .corazon-2:after {
      top: -25px;
    }

    
    @keyframes beating {
      0% {
        transform: rotate(45deg) scale(1);
      }
      50% {
        transform: rotate(45deg) scale(2);
      }
      100% {
        transform: rotate(45deg) scale(1);
      }
    }